body {
    margin: 0;
    padding: 0;
	width: 800px;
	color: white;
	
}

header {
	text-align: center;
	color: white;
	background-color: #0000ff;
	height: 35px;


}
a {
    color: white;
}
nav {
	background-color: #228B22;

}
li {
    display: inline-block;

}
 ul {
margin: 0;
margin-left: -35px;
}


article {
	background-color: #FFC0CB;
	width: 500px;
	height: 150px;
	text-align: center;
	position: relative;
}
section {
	background-color: #800000;
	height: 50px;
	margin-bottom: 5px; 
	
}

aside {
	position: relative;
    width: 300px;
	height: 150px;
	background-color: #00FFFF;
	text-align: center;
	right: -500px;
	top: -150px;
}
footer {
	background-color: #228B22;
	text-align: center;
	position: relative;
	top: -150px;
}
